<phpunit
        addUncoveredFilesFromWhitelist="true"
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
>
    <testsuites>
        <testsuite name="UnitTests">
            <directory>./tests/LaminasIbmiToolkit/unit</directory>
        </testsuite>
        <testsuite name="IntegrationTests">
            <directory>./tests/LaminasIbmiToolkit/integration</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/php/coverage"/>
    </logging>
</phpunit>
